*, *::after, *::before {
    font-family: 'Yuji Syuku', serif;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: flex-start;
}

.card {
    --color: #2a3c24ff;
    --background: #CFE0A3;
    --padding: 1rem;
    --shadowColour: #243010;
    color: var(--color);
    background: var(--background);
    padding: var(--padding);
    font-size: .25;
    border:none;
    box-shadow: 0 2px 5px var(--shadowColour);
    border-radius: .25rem;
}

.card-header {
    padding: 0;
    overflow: hidden;
}

.card-header > img {
    display: block;
    width: 100%;
    max-height: 300px;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
}

.card:hover > .card-header > img {
    transform: scale(1.025);
}

.card-text {
    font-size: .9rem;
    padding: 0 var(--padding);
}

.card-footer {
    margin-top: 1rem;
    padding: var(--padding);
    padding-top: 0;
}

.btn {
    --btncolor: hsl(70, 44%, 71%);
    --btnhover: hsl(70, 44%, 90%);
    color: #f8ffe6;
    background: var(--btncolor);
    border: none;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
}

.btn:hover, button:focus{
    background:var(--btnhover);
}

.btn.btn-outline{
    background: none;
    border: 1px solid var(--color);
    color: var(--color);
}

.btn.btn-outline:hover, .btn.btn-outline:focus{
    background: var(--btnhover);
}

.btn + .btn{
    margin-left: .25rem;
}